@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
    font-family: 'Kredit';
    src: url('common/fonts/kredit.woff') format('woff');
}

.card__number {
    font-family: 'Open Sans', sans-serif;
}

.card__num {
    font-family: 'Kredit', sans-serif;
}
